body{
  background-color: rgb(47,79,79);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
    height: 10%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    position: fixed;
    top: 0;
    width: 80%;
}
h1{
  font-family: sans-serif;
  background-color: blue;
  float: middle;
  
}
li {
    display: inline;
}
ol{
  font-family: cursive;
}
p{
  float: middle;
  color: green;
  font-size: 30px;
}
img{
  float: middle;
  border-style: solid;
  border-color: lightskyblue;
}
